{% extends 'bookland_nest/base.html' %}
{% load django_bootstrap5 %}
{% block content %}
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header bg-primary text-white">
                        <h2 class="mb-0">Create Account</h2>
                    </div>
                    <div class="card-body">
                        <form action="{% url 'accounts:register' %}" method="post">
                            {% csrf_token %}
                            {% bootstrap_form form %}
                            {% bootstrap_button button_type="submit" content="Save" %}
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}