{% extends "bookland_nest/base.html" %}
{% load django_bootstrap5 %}
{% block page_header %}
    <h1>All genres:</h1>
{% endblock page_header %}
{% block content %}
    <div class="p-3"></div>
    <ul class="list-group list-inline">
        {% for genre in genres %}
            <li class="list-group-item list-group-item-active">
                <a class="link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover p-2" href="{% url 'bookland_nest:genre' genre.id %}">{{ genre.name }}</a>
            </li>
        {% empty %}
            <p>No genres yet.</p>
        {% endfor %}
    </ul>
    <div class="mt-4">
        <a class="btn btn-info text-light" href="{% url 'bookland_nest:create_genre' %}">Create new genre</a>
    </div>
{% endblock content %}
